<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BurgerHouse - Mazali tezkor taomlar</title>
    {% include 'components/_script_andd_styles.html' %}
</head>

<body class="bg-dark-900 text-slate-50 font-outfit antialiased selection:bg-primary-500 selection:text-white">

    <!-- Navbar -->
    {% include 'components/_navbar.html' %}

    <!-- Hero Section -->
    {% include 'components/_hero.html' %}

    <!-- Categories -->
    {% include 'components/_categories.html' %}

    <!-- Menu / Products -->
    {% include 'components/_menu.html' %}

    <!-- App Promo -->
    {% include 'components/_add.html' %}

    <!-- Footer -->
    {% include 'leyout/footer.html' %}
</body>

</html>